<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/common :: html_head}">

</head>
<body>

	<div class="container-fluid">
		<header th:replace="~{parts/common :: page_header}"></header>
	</div>

	<div class="container home">
		<h2>Simplify the tedious exchange of money after a fun event.</h2>
		<p>No need to worry about calculating who should pay how much to
			whom, just enter it.</p>
		<a href="/payment/main" class=btn-start><span>Start</span></a>
	</div>

	<div class="container-fluid">
		<footer th:replace="~{parts/common :: page_footer}"></footer>
	</div>

</body>
</html>